{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "react/prop-types": 0,
    "require-jsdoc": "off",
    "max-len": "off",
    "object-curly-spacing": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  "plugins": [
    "prettier"
  ],
  "extends": ["eslint:recommended", "google", "plugin:prettier/recommended", "prettier", "plugin:react/recommended"]
}