@import "../variables";

.app {
  border: 1px solid #E8F1FB;
  background: #fff;
  margin: auto;

  @media #{$adaptive-iphone-6-7-8} {
    width: 355px;
    height: 650px;
  }

  @media #{$adaptive-iphone-6-7-8-plus} {
    width: 394px;
    height: 718px;
  }

  @media #{$adaptive-iphone-x} {
    height: 794px;
  }

  @media #{$adaptive-monitor} {
    margin: 50px auto;
    width: 400px;
    height: 590px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    height: 79px;
    border-bottom: 1px solid #E8F1FB;
  }

  &__heading {
    font-weight: bold;
    font-size: 20px;
    margin: 21px 0 0 29px;
  }

  &__conditions {
    color: #6B85A3;
    font-size: 12px;
    margin-left: 29px;
    margin-top: 2px;
  }

  &__main-field {
    height: 510px;

    @media #{$adaptive-iphone-6-7-8} {
      margin: 10% auto;
    }

    @media #{$adaptive-iphone-6-7-8-plus} {
      margin: 20% auto;
    }

    @media #{$adaptive-iphone-x} {
      margin: 30% auto;
    }

    @media #{$adaptive-monitor} {
      margin: 0;
    }
  }
}


